# Annoying OSX thingies
*.DS_Store

# Avoid sending the database back and forth:
*db.sqlite3

$ Ignore the PyCharm project folder
.idea

# Igonoring the log saved by the spider
*gizmodo_crawler_log.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Adding .pyc files required by (and generated before runtime) Scrapy
!spidey/spidey_crawler/spidey_crawler/__init__.pyc
!spidey/spidey_crawler/spidey_crawler/items.pyc
!spidey/spidey_crawler/spidey_crawler/pipelines.pyc
!spidey/spidey_crawler/spidey_crawler/settings.pyc

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
